In [10]:
print ("Hello")

# Prints Hello
# SHift + Enter Key to Run Code

Hello

In [6]:
print ("Hello \
Python")

# Prints Hello Pyhton with Back Slash

Hello Python

In [9]:
print (""" ()...()
(o o)
/( ..)\
/""\ """)

# Use of triple quotes

 ()...()
(o o)
/( ..)/""\

In [11]:
print ("hello world")

# String inside the quotes

hello world

In [12]:
print ('helllo')

# String inside single quote

helllo

In [13]:
print ("Hello \t Python")
# Escape sequence of string

Hello 	 Python

In [14]:
print ("Hello \n Python")

#Escape sequence of string

Hello
 Python

In [15]:
print ('Python\'s World')

Python's World

In [16]:
name = "Vanshika"
marks = "90"
age = "23"
print ("Name:",name,"Marks:",marks,"Age:",age)

# Formatted Output

Name: Vanshika Marks: 90 Age: 23

In [17]:
name = "Vanshika"
marks = 90
age = 23
print ("Name:",name,"Marks:",marks,"Age:",age)

# Formatted Output

Name: Vanshika Marks: 90 Age: 23

In [18]:
print ("Name: %s Marks: %f Age: %d" %(name,marks,age))

# Formatted Output

Name: Vanshika Marks: 90.000000 Age: 23

In [19]:
print ("Name: %10s Marks: %10.2f Age: %10d" %(name,marks,age))

# Formatted Output
# 10 is used to give space and .2 for space after decimal point

Name:   Vanshika Marks:      90.00 Age:         23

In [20]:
print (f"Name: {name} Marks: {marks} Age: {age}")

# Formatted Output

Name: Vanshika Marks: 90 Age: 23

In [21]:
x=20
id(x)

# Variables
# id(x) prints Ram Address of x variable

140725656331248

In [22]:
y=20
id(y)

# Variables
# id(x) prints Ram Address of x variable

140725656331248

In [23]:
del x

# Delete x variable from memory

In [24]:
5 ** 5

# Arithmetic Operators (exponent(5 to the power of 5))

3125

In [25]:
10+20

# Arithmetic Operators (Addition)

30

In [26]:
10-20

# Arithmetic Operators (Subtraction)

-10

In [27]:
10/2

# Arithmetic Operators (Division)
# In Python 2 int/int = int
# In Puthon 3 int/int = float

5.0

In [28]:
10%3

# Arithmetic Operators (Modulus)

1

In [29]:
10//3

# Arithmetic Operators (Floor Division)

3

In [30]:
10/3

# Arithmetic Operators (Division)

3.3333333333333335

In [4]:
a = 10
b = 20
a == b

# Comparsion Operators (Equality)
# Return Boolean Value either true or false

False

In [6]:
c = 10
a == c

# Comparsion Operators (Equality)
# Return Boolean Value either true or false

True

In [7]:
c <= a

# Comparsion Operators (Less Than or Equal to)
# Return Boolean Value either true or false

True

In [8]:
a >= b

# Comparsion Operators (Greater Than or Equal to)
# Return Boolean Value either true or false

False

In [9]:
a != b

# Comparsion Operators (Not Equal to)
# Return Boolean Value either true or false

True

In [15]:
d = 10
e = 30
f = d + e
print (f)

# Assignment Operators (Equal)

40

In [18]:
d = 10
f += d
print (f)

# Assignment Operators (+=)

50

In [19]:
d = 10
f -= d
print (f)

# Assignment Operators (-=)

40

In [20]:
d = 10
f *= d
print (f)

# Assignment Operators (*=)

400

In [21]:
d = 10
f /= d
print (f)

# Assignment Operators (/=)

40.0

In [22]:
d = 10
f **= d
print (f)

# Assignment Operators (**=)

1.048576e+16

In [23]:
a = 240
b = 1
a | b

# Bitwise Operators(OR)

241

In [24]:
bin(a)

# Gives Binary of Variable a

'0b11110000'

In [25]:
a & b

# Bitwise Operators(AND)

0

In [27]:
~ a

# Bitwise Operators(One's Complement)

-241

In [28]:
a ^ b

# Bitwise Operators(XOR)

241

In [29]:
a << 2

# Bitwise Operators(Left Shift)

960

In [30]:
a >> 2

# Bitwise Operators(Right Shift)

60

In [31]:
a = 1
b = 20
a > b

False

In [32]:
a > 20 and 10 > 9

# Logical Operators(AND)

False

In [33]:
a > 20 or 10 > 9

# Logical Operators(OR)

True

In [44]:
x = 5
print(not(x > 3 and x < 10))

# Logical Operators(NOT)

False

In [39]:
10 > 9 and 20 > M

# Logical AND
# (It gives error because first it checks 10>9 condition its true then it checks 20>M condition so its not defined)

NameError: name 'M' is not defined

In [40]:
10 < 9 and 20 > M

# Logical AND 
# AND operator first checks first condition 10<9 if it is false it never checks further condition
# Interview Question

False

In [45]:
str1 = "PythonProgram"
"a" in str1

# Membership Operators(in)
# a word is present in above string so it returns true

True

In [46]:
str1 = "PythonProgram"
"x" not in str1

# Membership Operators(not in)
# x word is not present in above string so it returns true

False

In [48]:
a = 10
b = 10
a == b

True

In [49]:
id (a)

140725656330928

In [50]:
id (b)

140725656330928

In [51]:
a is b

# Identity Operators(is)
# Both a and b are equal and its address are also same so it returns true

True

In [52]:
x = 1.5
y = 1.5
x == y

True

In [53]:
id (x)

1575175460784

In [54]:
id (y)

1575175460944

In [55]:
x is y

False

In [56]:
x is not y

# Identity Operators(is not)
# x and y address are diffrent so it returns true

True

In [57]:
10+10/29*4

# Operator Precedence
# int/int = float

11.379310344827587